.container {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background: linear-gradient(
    to top,
    rgb(193, 223, 196) 0%,
    rgb(222, 236, 221) 100%
  );
  border-radius: 10px;
  max-width: 700px;
  min-width: 700px;
  padding: 5px 25px 15px 25px;
  box-shadow: 4px 3px 9px #90b89f;
}
h1 {
  text-align: left;
  max-width: 80%;
  min-width: 90%;
  border-radius: 10px 10px 500px;
  box-shadow: 4px 4px 4px #90b89f;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  line-height: 1;
  color: #63836f;
  padding-top: 0;
  margin-top: 0;
  text-transform: capitalize;
}
strong {
  font-size: 60px;
}
section {
  margin-top: 0;
  padding-top: 0;
}
a {
  color: #63836f;
  text-decoration: none;
}
ul {
  list-style-type: none;
  line-height: 0.7;
  margin-top: 10px;
  text-align: left;
  padding-left: 14%;
  padding-top: 1%;
  font-size: 17px;
}
footer {
  display: block;
  margin-top: 0;
  text-align: right;
}
.col i {
  display: block;
  margin: 0 auto;
  font-size: 30px;
}
.today {
  font-size: 45px;
  color: #90b89f;
}
.time {
  font-size: 40px;
  color: rgb(243, 187, 3);
}
.celcius,
.fahrenheit {
  position: relative;
  font-size: 25px;
  top: -32px;
}
.bdxtemp {
  color: #90b89f;
  font-size: 70px;
  font-weight: lighter;
  text-align: center;
  padding-right: 10%;
}
.bdxicon {
  font-size: 70px;
  color: rgb(243, 187, 3);
  position: relative;
}
.row {
  padding: 20px 0;
}
.col {
  text-align: center;
  padding: 10px;
  line-height: 0.7;
  font-size: 18px;
  color: #346946;
  box-shadow: 4px 4px 5px #90b89f;
  border-radius: 10px 10px 50px;
}
.right-text {
  text-align: right;
}

.temp {
  text-align: center;
  font-size: 20px;
  color: #90b89f;
}
.temp .celcius {
  position: relative;
  font-size: 10px;
  top: -7px;
}

.searchForm,
.search-form,
.submitPin {
  background-color: #ffffffec;
  border-color: rgba(59, 136, 29, 0.3);
  border-radius: 5px 5px 5px;
}
.search-form,
.submitPin {
  background-color: rgb(193, 223, 196);
}
.myName {
  text-align: center;
  font-family: monospace;
  color: dimgray;
  padding-top: 5px;
}
